<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Triangles</title>
    </head>
    <body>
        <h1>Triangles</h1>
        <p>Enter the three side lengths of a triangle then select “classify”.</p>
        <form method="post">
            <input id="side1" name="side1" type="number" min="0" step="any" required value=":SIDE1:">
            <input id="side2" name="side2" type="number" min="0" step="any" required value=":SIDE2:">
            <input id="side3" name="side3" type="number" min="0" step="any" required value=":SIDE3:">
            <input id="classify" value="classify" type="submit">
        </form>
        <div id="result">
            :RESULT:
        </div>
    </body>
</html>